:root {
    --measure-width: 150px;
}

.content {
    max-width: 50rem;
}

.measure {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.measure:hover {
    background-color: aqua;
}

.track {
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    /* align-content: flex-start; */
    grid-template-columns: repeat(auto-fill, var(--measure-width));

    margin: 1rem;
}
