:root {
    --measure-width: 150px;
}

/* override the default max-width */
.content {
    max-width: 50rem;
}

/* control bar */

.control-bar {
    display: flex;
    position: sticky;
    top: var(--nav-height, 4rem);
    background: white;
    z-index: 1;
}

/* mode-selector */

.mode-selector label {
    cursor: pointer;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.mode-selector input[type="radio"] {
    display: none;
}

.mode-selector input[type="radio"]:checked + label {
    background-color: var(--toggle-selected-color);
}
.mode-selector input[type="radio"]:checked + label:hover {
    background-color: var(--toggle-selected-hover-color);
}

/* player-controls */

#player-controls {
    display: flex;
}

#player-controls input[type="checkbox"] {
    display: none;
}

#player-controls input[type="checkbox"]:checked + label {
    background-color: var(--toggle-selected-color);
}

#player-controls input[type="checkbox"]:checked + label:hover {
    background-color: var(--toggle-selected-hover-color);
}

#player-controls label {
    
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.play-button {
    border: 0;
    background: transparent;
    width: 0;
    --size: 2rem;
    
    height: var(--size);
  
    border-color: transparent transparent transparent #202020;
    transition: 250ms border ease;
    cursor: pointer;
    
    border-style: solid;
    border-width: calc(var(--size) / 2) 0 calc(var(--size) / 2) calc(var(--size) * 0.8);
}

.play-button:hover {
  border-style: double;
  border-width: 0px 0 0px calc(var(--size) * 0.81);
}

.play-button:hover {
  border-color: transparent transparent transparent #404040;
}

/* track */

.track {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin: 1rem;
}

/* measure styling */

.measure {
    position: relative;

    background: none;
    border: none;
    cursor: pointer;
    /* overflow: hidden; */
}

.measure:is(:hover, :focus) {
    background-color: aqua;
    outline: none;
}

.measure.selected {
    background-color: hsl(190, 80%, 50%);
}

.measure svg {
    margin-top: -8px;
    pointer-events: none;
    width: 150%;
    height: 100%;
}

.measure[data-measure="add"]::after {
    content: '+';
    position: absolute;

    opacity: 75%;

    /* display: grid; */
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */

    color: black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    font-size: 2rem;
    border-radius: 900vw;
    aspect-ratio: 1 / 1;
    border: 1px solid black;

    padding: 12px 22px;
    /* line-height: 1px; */
}

/* measure editor */

#editor-rhythm {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    gap: 0.2em;

    margin-block: 0.5rem;
}

#editor-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.measure-editor-note {
    padding: 0.4rem 0.6rem;
    user-select: none;

    border: 1.5px solid darkgray;

    border-radius: 4px;
}

.measure-editor-note[value="0"] {
    background-color: lightgray;
}

.measure-editor-note[value="1"] {
    background-color: lightblue;
}

.measure-editor-note[value="2"] {
    background-color: limegreen;
}
