@font-face {
    font-family: 'Bravura';
    src: url('../common/fonts/BravuraText.otf');
    src: url('../common/fonts/BravuraText.woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

:root {
    --measure-width: 150px;
}

/* override the default max-width */
.content {
    max-width: 50rem;
}

/* control bar */

.control-bar {
    display: flex;
    position: sticky;
    top: var(--nav-height, 4rem);
    background: white;
    z-index: 1;
}

/* mode-selector */

/* .mode-selector label {
    cursor: pointer;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.mode-selector input[type="radio"] {
    display: none;
}

.mode-selector input[type="radio"]:checked+label {
    background-color: var(--toggle-selected-color);
}

.mode-selector input[type="radio"]:checked+label:hover {
    background-color: var(--toggle-selected-hover-color);
} */

/* player-controls */

#player-controls {
    display: flex;
    flex-wrap: wrap;
}

#player-controls input[type="checkbox"] {
    display: none;
}

#player-controls input[type="checkbox"]:checked+label {
    background-color: var(--toggle-selected-color);
}

#player-controls input[type="checkbox"]:checked+label:hover {
    background-color: var(--toggle-selected-hover-color);
}

#player-controls label {

    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.play-button {
    border: 0;
    background: transparent;
    width: 0;
    --size: 2rem;

    height: var(--size);

    border-color: transparent transparent transparent #202020;
    transition: 250ms border ease;
    cursor: pointer;

    border-style: solid;
    border-width: calc(var(--size) / 2) 0 calc(var(--size) / 2) calc(var(--size) * 0.8);
}

.play-button[data-state="playing"] {
    border-style: double;
    border-width: 0px 0 0px calc(var(--size) * 0.81);
}

.play-button[data-state="playing"] {
    border-color: transparent transparent transparent #404040;
}

/* track */

.track {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin: 1rem;
}

/* measure styling */

.measure {
    position: relative;

    background: none;
    border: none;
    cursor: pointer;
    /* overflow: hidden; */
}

.measure:is(:hover, :focus) {
    background-color: aqua;
    outline: none;
}

.measure.selected {
    background-color: hsl(190, 80%, 50%);
}

.measure svg {
    margin-top: -8px;
    pointer-events: none;
    width: 150%;
    height: 100%;
}

.measure[data-measure="add"]::after {
    content: '+';
    position: absolute;

    opacity: 75%;

    /* display: grid; */
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */

    color: black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    font-size: 2rem;
    border-radius: 900vw;
    aspect-ratio: 1 / 1;
    border: 1px solid black;

    padding: 12px 22px;
    /* line-height: 1px; */
}

/* measure editor */

#editor-rhythm {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    gap: 0.2em;

    margin-block: 0.5rem;
}

#editor-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.measure-editor-note {
    padding: 0.4rem 0.6rem;
    user-select: none;

    border: 1.5px solid darkgray;

    border-radius: 4px;
}

.measure-editor-note[value="0"] {
    background-color: lightgray;
}

.measure-editor-note[value="1"] {
    background-color: lightblue;
}

.measure-editor-note[value="2"] {
    background-color: limegreen;
}

/* note-selector */

.note-selector {
    --select-font-size: 1.5rem;
    --select-padding: 0 0.5rem;
    --select-option-padding: 0 0.5rem;
    --select-border-color: transparent;
    --select-option-font-size: 1em;
}

.note {
    font-family: 'Bravura';
    color: black;

    --dot: "\ECB7";
    --whole: "\ECA2  ";
    --half: "\ECA3  ";
    --quarter: "\ECA5  ";
    --eighth: "\ECA7 ";
    --sixteenth: "\ECA9 ";
    --thirty-second: "\ECAB ";
    --sixty-fourth: "\ECAD ";
    --hundred-twenty-eighth: "\ECAF ";
}

.note[value="dw"]::before {
    content: var(--whole) var(--dot);
}

.note[value="w"]::before {
    content: var(--whole);
}

.note[value="dh"]::before {
    content: var(--half) var(--dot);
}

.note[value="h"]::before {
    content: var(--half);
}

.note[value="dq"]::before {
    content: var(--quarter) var(--dot);
}

.note[value="q"]::before {
    content: var(--quarter);
}

.note[value="de"]::before,
.note[value="d8"]::before {
    content: var(--eighth) var(--dot);
}

.note[value="e"]::before,
.note[value="8"]::before {
    content: var(--eighth);
}

.note[value="d16"]::before {
    content: var(--sixteenth) var(--dot);
}

.note[value="16"]::before {
    content: var(--sixteenth);
}

.note[value="d32"]::before {
    content: var(--thirty-second) var(--dot);
}

.note[value="32"]::before {
    content: var(--thirty-second);
}

.note[value="d64"]::before {
    content: var(--sixty-fourth) var(--dot);
}

.note[value="64"]::before {
    content: var(--sixty-fourth);
}

.note[value="d128"]::before {
    content: var(--hundred-twenty-eighth) var(--dot);
}

.note[value="128"]::before {
    content: var(--hundred-twenty-eighth);
}

.barline {
    font-family: 'Bravura';

    text-align: center;

    --single: "\E030 ";
    --double: "\E031 ";
    --end: "\E032 ";
    --start: "\E033 ";
    --repeat-begin: "\E040 ";
    --repeat-both: "\E042 ";
    --repeat-end: "\E041 ";
    --none: "\E037 ";
}

.barline[value="7"]::before {
    font-weight: 100;
    content: var(--none);
}

.barline[value="1"]::before {
    font-weight: 900;
    content: var(--single);
}

.barline[value="2"]::before {
    font-weight: 900;
    content: var(--double);
}

.barline[value="3"]::before {
    content: var(--end);
}

.barline[value="4"]::before {
    content: var(--repeat-begin);
}

.barline[value="5"]::before {
    content: var(--repeat-end);
}

.barline[value="6"]::before {
    content: var(--repeat-both);
}
