/* play button */

.play-button {
    --size: 4rem;
    isolation: isolate;
    position: relative;
    background: white;
    cursor: pointer;
    height: calc(var(--size) * 1.5);

    border-radius: 900vw;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
}

.play-button::after {
    content: "";
    border: 0;
    background: transparent;
    width: 0;
    display: block;
    margin-inline: auto;
    
    height: 0;
  
    border-color: transparent transparent transparent #202020;
    transition: 250ms border ease,
                250ms height ease;
    /* cursor: pointer; */
    
    border-style: solid;
    border-width: calc(var(--size) / 2) 0 calc(var(--size) / 2) calc(var(--size) * 0.8);
}

.play-button:hover::after {
    border-color: transparent transparent transparent #404040;
}

.play-button[data-state="playing"]::after {
    height: var(--size);
    border-style: double;
    border-width: 0px 0 0px calc(var(--size) * 0.81);
}

/* options dialog */

.options-dialog {
    border: 2px black solid;
    --gap: 0.5rem;
    /* min-height: 5rem;
    max-height: fit-content; */
}

.options-dialog[open] {
    /* background-color: red; */
    display: grid;
    /* justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center; */
    gap: var(--gap);
}

.options-dialog form {
    display: grid;
    gap: var(--gap);
}

.options-dialog .time-signiture input {
    max-width: 4ch;
}
